.root {

	main-color:#2B233C;
	secondary-color:#307686;
	-fx-background-color: main-color;
}

#my-vbox {
    -fx-background-color: main-color;
    -fx-spacing: 20;
}

.text-field {
	-fx-text-fill:main-color;
	-fx-background-color: white;
	-fx-font-size:20;

}

#registeration-btn {
	-fx-text-fill:main-color;
	-fx-background-color: white;
	-fx-font-size:15;

}


.radio-button {
	-fx-text-fill:white;
	-fx-font-size:20;
}
.radio-button .radio{
    -fx-padding: 4px;
    -fx-background-color: white;
}
.radio-button:selected .radio .dot{
    -fx-background-color: secondry-color;
}
